@import 'https://fonts.googleapis.com/css?family=Lily+Script+One';
*{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


body {
  
  background-color: #000000;
 color: #fff;
}

.navbar{
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:xx-large;

}
/* personal section*/
.personal{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-shadow: black;
  
  p{
    width: 80%;
    font-size: 30px;
    padding: 15px;
    border-radius: 2rem;
    box-shadow:
    0 0 0 2px #00000025
  }

}


/* skills section*/ 

#skills{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: xx-large;

  ul{
    padding: 0px 60px 40px;
    border-radius: 2rem;
    box-shadow:
    0 0 0 2px #00000025;
    
    p{
      margin-bottom: 10px;
    }

  
  }


}



/*proyects cards section*/

#proyects {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.proyectsCards{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 700px;
}

.sectionOne{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.sectionTwo{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.card {
  width:300px;
  height: 300px;
}

.content {

  width: 300px;
  height: 300px;
  box-shadow: 0 0 17px  rgba(255, 255, 255, 0.596);
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card:hover .content {
  transform: rotateY( 180deg ) ;
  transition: transform 1s;
}

.front,
.back {
  position:absolute;
  width: 300px;
  height: 300px;
  background: white;
  line-height: 150px;
  color: #000000;
  text-align: center;
  font-size: 50px;
  border-radius: 5px;
  backface-visibility: hidden;
}
.front{
  h5{
    height: 55px;
  }
  h7{
    font-size:25px;
  }
  
}
.back {
  background: #000000;
  color: white;
  transform: rotateY( 180deg );
  box-shadow: 0 0 17px  rgb(255, 255, 255);
  button{
    border-radius: 2rem;
    width: 200px;
    height: 60px;
    background-color: #000000;
    border-color: #fff;
    font-size: x-large;
    cursor: pointer;
  }
  .devicon-github-original{
    font-size:xx-large;
  }
}

/* contact section */

#contact{
  display: flex;
  justify-content: space-around;
  font-size: larger;
   
.links{
    width: 20%;
    margin-left: 20px;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
  }

}
a{
  color: #fff;
  text-decoration: none;
}

