@import 'https://fonts.googleapis.com/css?family=Lily+Script+One';
body {
  background: #eee;
  background-color: #03446A;
 color: #fff;
}

.navbar{
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:xx-large;

}
/* personal secrtion*/
#personal{
  margin-left: 80px;
  .p1{
   
    font-size: xx-large;
  }
  .p2{
    font-size: x-large;
  }
}


/* skills section*/ 

#skills{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: xx-large;
}



/*proyects cards section*/

#proyects {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.proyectsCards{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 700px;
}

.sectionOne{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.sectionTwo{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.card {
  width:300px;
  height: 300px;
}

.content {

  width: 300px;
  height: 300px;
  box-shadow: 0 0 17px  rgba(0,0,0,0.1);
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card:hover .content {
  transform: rotateY( 180deg ) ;
  transition: transform 1s;
}

.front,
.back {
  position:absolute;
  width: 300px;
  height: 300px;
  background: white;
  line-height: 150px;
  color: #03446A;
  text-align: center;
  font-size: 50px;
  border-radius: 5px;
  backface-visibility: hidden;
}
.front{
  h5{
    height: 55px;
  }
  h7{
    font-size:25px;
  }
  
}
.back {
  background: #03446A;
  color: white;
  transform: rotateY( 180deg );
  button{
    border-radius: 2rem;
    width: 200px;
    height: 60px;
    background-color: #03446A;
    border-color: #fff;
    font-size: x-large;
  }
  .devicon-github-original{
    font-size:xx-large;
  }
}

/* contact section */

#contact{
  display: flex;
  justify-content: space-around;
  font-size: larger;
   
.links{
    width: 20%;
    margin-left: 20px;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
  }

}
a{
  color: #fff;
  text-decoration: none;
}